
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    min-width: 1300px;
}
.footer,
.container,
.head_logo,
.head_nav,
.main{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.header {
    position: relative;
    height: 250px;
}

.head_logo {
    z-index: 99;
    height: 100%;
    background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
    opacity: 0.7;
    box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
    filter: blur(30px);

}

.head_nav {
    z-index: 99;
    height: 100%;
    background: #45B4D7;
    opacity: 0.5;
    filter: blur(22px);
}


.log {
    height: 217px;

}

.input {
    margin-top: 9%;
    margin-bottom: 10%;
    margin-left: 5%;
    width: 50%;
    text-align: center;
    display: flex;
}

.input_search {
    background: #E2F2E2;
    border-radius: 6px;
    height: 47px;
    width: 80%;
    font-style: italic;
    color: #B6C0A5;
    border-top-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-width: 0;
}

.input_botton {
    background: #AAD9E0;
    border-radius: 6px;
    outline: none;
    width: 14%;
}

.basket_regist {
    margin-top: 7%;
    margin-bottom: auto;
    width: 15%;
    margin-left: auto;
}

.nav_product {
    height: 100%;
    margin: 2% 0 0;
    display: flex;
    text-decoration: none;
    color: #333;
    text-align: center;
    list-style-type: none;
    padding: 0;

}

li {
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    line-height: 10%;

}

.naw_other {
    text-decoration: none;
    font-family: Roboto;
    font-size: 33px;
    color: #184355;
}

.naw_categor {
    text-decoration: none;
    font-family: Roboto;
    font-size: 33px;
    padding-right: 48px;
    color: #08303D;
}

main {
    width: 100%;
}

.main {
    background: rgba(157, 208, 211, 0.61);
    filter: blur(50px);
    z-index: 99;
    height: 100%;

}

.Baner {
    position: relative;
    margin-left: 7%;
    width: 94%;
    margin-top: -3%;
    margin-bottom: 0px;
}

.container {
    margin-top: 2%;
    text-align: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
    display: flow-root;
}

.container_nav {
    margin-top: 0;
}


.article {
    position: absolute;
    margin-left: 27%;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #C1CBEE;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.triangle_top {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 43px solid #bfbfbf;
    margin-left: 23%;
}

.triangle_bottom {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 40px solid transparent;
    border-top: 43px solid #bfbfbf;
    margin-left: 23%;
    margin-top: 7%;
}

.row {
    width: 100%;
    display: inline-flex;
    box-sizing: inherit;
    margin-right: -15px;
    margin-left: -15px;

}

.row_nav {
    height: 100%;
}

.section_footer,
.section {
    position: relative;
}

.section_nav {
    height: 80px;;
    position: relative;
}

.nav {
    z-index: 100;
    height: 100%;
    width: 100%;
}

.nav_product_name {
    margin-left: auto;
    margin-right: auto;
}
.main_border,
.container_clamped{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
}
.row_banner{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    box-sizing: inherit;
}

.main_banners_link{
    display: block;
    width : 100%
}
.main_banners_wrapper{
    z-index: 100;

}

.banner_small{
    margin-top: 4%;

}
.container_circle{
    margin-top: 2%;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
    display: flow-root;

}
.container_banner_small{
    margin-left: 6%;
    margin-top: 3%;
    z-index: 100;

}
.row_carousel{
    display: inline-flex;
    position: relative;
}
.main_container {
    margin-top: 2%;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
    display: flow-root;
}
.container_banner_right{
    margin-top: 4%;
}
.product,
.row_product{
    padding-right: 15px;
    padding-left: 15px;
    height: 181px;
    margin-top: 1%;
}
.text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    color: rgba(28, 74, 84, 0.95);
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.row_product_child_bottom,
.row_product_child{
    margin-left: -13%;
    margin-top: 3%;
}
.article_child_left{
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 40px solid #bfbfbf;
    border-bottom: 43px solid transparent;
    margin-top: 8%;
}
.article_child_right{
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 40px solid #bfbfbf;
    border-bottom: 43px solid transparent;
    margin-top: 8%;
}
.footer{
    background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
    opacity: 0.7;
    box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
    filter: blur(20px);
    z-index: 99;
    height: 100%;
}
.head_body{
    height: 76%;
    width: 100%;
}
.row_logo{
    margin-left: 1%;
    width: 30%;
}
.section_footer_size{
    height: 100%;
    width: 100%;
}
.footer_size{
    height: 200px;
}
.row_product_child_bottom{
    margin-bottom: 10%;
}
.basket{
    width: 37%;
    padding-right: 5%;
}
.login_picture{
    width: 37%
}
.logo_pictures{
    width: 100%;
}
.article_pictures{
    width: 60%;
}
.pictures_banner_red{
    height: 410px;
    width: 307px;
}
.pictures_banner_small{
    height: 261px;
}
.nav_list{
    margin-left: -4%;
    margin-top: -1%;
}
.nav_list_circle_top{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #34D3DD;
}
.nav_list_circle_bottom{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #34D3DD;
    margin-top: 17%;
}
.main_color{
    background: rgba(120, 208, 236, 0.5);
    opacity: 0.4;
    filter: blur(20px);
}
.main_filters{
    display: block;
    position: absolute;
}
.section_main{
    width: 100%;
    height: 100%;
}